.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
}

.home section{
    display: grid;
    width: 90%;
    grid-template-columns: auto auto;
    grid-template-rows: max-content;
    row-gap: 2em;
}

.home h3 {
    font-size: 1em;
}

.homeChart {
    width: 80%;
}