/* CSS reset or normalize logic here  */

@font-face {
  font-family: 'brandon';
  src: url('../assets/font/brandon.otf');
}

html,
body,
#root,
.App {
  height: 100%;
  font-family: brandon;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}
